body {
	font-family: 'Poiret One', cursive;
	padding: 0;
	margin: 0;
	color: #222222;
}

.clearfix:after {
	content:'';
	display: table;
	width: 100%;
	clear: both;
}

div {
	box-sizing: border-box;
}

header {
	background: url(../img/BGdark3.png) no-repeat center top / cover;
	height: 100vh;
}

.container {
	width: 930px;
	margin: 0 auto;
}


.logo {
	margin-top: 15px;
	float: left;
	width: 140px;
	height: 80px;
}

nav {
	float: right;
	margin-top: 45px;
}

.menu {
	padding: 0;
	margin: 0;
	display: block;
}

.menu li {
	float: left;
	display: block;
	margin-right: 41px;

}

.menu a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
}

.titles__first {
	font-size: 50px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin-top: 180px;
}

h1 {
	font-size: 20px;
	color: #fff;
	text-align: center;
	margin: 15px;
}

.button {
	background: #fed136;
	color: #484543;
	border-radius: 3px;
	display: block;
	width: 240px;
	padding: 20px 0;
	margin: 0 auto;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	margin-top: 50px;
}

.button1 {
	background: #2EFE64;
	color: #484543;
	border-radius: 3px;
	display: block;
	width: 240px;
	padding: 18px;
	margin-left: 0px auto;
	margin-bottom: 50px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	margin-top: 50px;

}

#katalog1 {
	background: #f7f7f7;
	padding-bottom: 120px;
}

.title {
	padding-top: 150px;
}

.title h2 {
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
}

.title p {
	color: #777777;
	text-align: center;
	font-size: 16px;
	margin-top: 10px;
}

.services {
	margin-top: 80px;
}
.title1 {
	padding-top: 200px;
	padding-bottom: 200px;
}

.title1 h2 {
	font-size: 40px;
	font-weight: bold;
	text-align: left;
	text-transform: uppercase;
	margin: 0;
}

.title1 p {
	color: #777777;
	text-align: left;
	font-size: 18px;
	margin-top: 10px;
}

.title2 {
	padding-top: 200px;
	padding-bottom: 200px;

}

.title2 h2 {
	font-size: 40px;
	font-weight: bold;
	text-align: left;
	text-transform: uppercase;
	margin: 0;
	
}

.title2 p{
	color: #777777;
	text-align: left;
	font-size: 18px;
	margin-top: 10px;
	
}

.services__item	{
	width: 270px;
	float: left;
	text-align: center;

}

.services__item h3 {
	font-size: 24px;
	margin-bottom: 5px;
}

.services__item p {
	color: #777777;
	font-size: 14px;
	line-height: 1.55em;
}

.services__item:first-child {
	float: left;
}

.services__item:last-child {
	float: right;
}

.services__item:nth-child(2) {
	margin-left: 60px;
}

#b {
	padding-bottom: 130px;
}
#c {
	padding-bottom: 10px;
	background-color: #a0a1a430

}

#katalog {
	background: #f7f7f7;
	padding-bottom: 120px;
}

.works {
	margin-top: 70px;
}

.works img {
	float: left;
}

.works img:nth-child(2) {
	margin-left: 29px;
}

.works img:last-child {
	float: right;
}

.lowimg {
	margin: 5px auto; 
	padding-left: 45.4%;
	display: inline-block;

}


footer {
	background: #000000;
	display: inline-block;
    width: 100%;
    min-height: 100%;
    left: 0;
	bottom: 0;
	float: bottom;
	}
